*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --textprimary:#FFFFFF;
    
}

#parent{
    position: absolute;
}

.background{
   display: flex;
   flex: 1;
   justify-content: space-between;
   flex-direction: row;
   height: 100vh;
   position: relative;
   background-color: #121212;
}

.left{
    width: 20%;
    background-color: #121212;
}

.center{
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    position: absolute;
}

.center .name{
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 20px;
    letter-spacing: 5px;
    color: var(--textprimary);
    font-weight: 600;
}

.center .text2{
    width: 10%;
    height: 30%;
    margin-top: 10%;
    margin-right: 60%;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 5px;
    color: var(--textprimary);
    /* background-color:#F9A43F; */
}

.our{
    color: #121212;
    background-color: #FFFFFF;
    font-weight: 800;
}

.right{
    display: flex;
    width: 80%;
    justify-content: center;
    background-color: #121212;
    /* color: black; */
    /* position: relative; */
}

.right .image{
    align-self: center;
    padding: 10%;
    padding-left: 20%;
    padding-top: 12%;
    /* padding-right: 20%; */
    /* object-fit: contain; */
    /* padding-left: 300px; */
    /* box-shadow: 0px 0px 5px black; */
    /* background-color: blue; */
}

.image img{
    border-radius: 5px;
    /* margin-right: 100%; */
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 10px 20px rgba(0, 0, 0, 0.12)
  ;
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    /* background-color: blue; */
}

.search .logosearch{
    padding-top: 30px;
    padding-right: 30px;
}

.search .subscribe{
    color: var(--textprimary);
    font-weight: 600;
    padding-right: 30px;
    padding-bottom: 30px;
}

.subscribe a:hover{
    color: #F9A43F;
}

.warna{
    color: #FFFFFF;
}

.warna:hover{
    color: #F9A43F;
}


