* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-bottom: 3%;
}

.font-dark li a {
    color: black !important;
}

.head-image img {
    object-fit: cover;
}

.head-image .h1 {
    position: absolute;
    top: 180px;
    left: 250px;
    font-size: 3rem;
}

.head-image .input {
    position: absolute;
    top: 260px;
    left: 430px;
}

.input {
    position: relative;
}

.input i {
    position: absolute;
    top: -2px;
    left: 20px;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

.footer {
    background-color: black;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.text-footer p a {
    color: white;
    font-size: 0.8rem;
}

.text-footer p {
    margin-bottom: 2px;
}

.card1 .card {
    border: none;
}

.card-body {
    padding: 0;
    margin-top: 3%;
}

.card-img-top {
    margin-bottom: 0;
}

.vertical {
    margin-bottom: 20%;
}

.text-vertical {
    margin-bottom: 50%;
}

.text-image {
    position: relative;
    background-color: white;
    height: 10vh;
    top: -40px;
    padding-top: 4%;
}

.text-image p {
    font-size: 0.8rem;
}

.col-5 {
    background-color: aqua;
}

.icon-footer {
    margin-top: 5%;
    margin-bottom: 0px;
}

.icon-footer img {
    margin-right: 2%;
}

.icon-footer p {
    font-size: 0.7rem;
}

main img:hover {
    transform: scale(1.1);
}

main img {
    transition: all 0.4s;
}

main button {
    background-color: white;
    border-radius: 50px;
    position: absolute;
    width: 17%;
    height: 6vh;
    border: none;
    z-index: 10000;
    right: 5px;
    top: 5px;
}
