* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-primary: #6d1cff;
    --color-secondary: #fdfcff;
    --color-side: #f6f9ff;
    --color-font: #0f1c2a;
    --color-font2: #9fa4aa;
}

main {
    display: flex;
    min-height: 160vh;
}

/* main Div */
.left-bar {
    flex: 1;
    top: 0;
    bottom: 0;
    position: fixed;
    background-color: var(--color-primary);
    display: flex;
    width: 10%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 4%;
}
.content {
    flex: 5;
    background-color: var(--color-secondary);
    padding: 4%;
    display: flex;
}

.right-bar {
    flex-direction: column;
    display: flex;
    padding: 2%;
    flex: 2;
    background-color: var(--color-side);
}

/* left-bar */
.left-bar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-bar__logo img {
    width: 40%;
    height: 50%;
}

.left-bar__nav {
    display: flex;
    flex-direction: column;
}

.link {
    margin: 1rem 0;
    font-size: 1.8rem;
}

.point a i {
    font-size: 2.5rem;
    color: var(--color-secondary) !important;
}

.link a i {
    color: #cacdcf;
}
/* left-bar stopped */

/* Main content */
.content {
    display: flex;
    flex-direction: column;
    padding-left: 12rem;
}
.content__top {
    display: flex;
    width: 100%;
    margin-bottom: 6%;
    justify-content: center;
    align-items: center;
}

.content__top--input {
    flex: 4;
}

.content__top--notif {
    flex: 1;
    justify-content: flex-end;
    font-size: 1.8rem;
    display: flex;
}

.content__top--notif a {
    display: block;
    background-color: #f6f9ff;
    width: 40%;
    height: 8vh;
    padding-top: 6%;
    border-radius: 9px;
}

.content__top--notif a img {
    padding-top: 8%;
    margin-left: auto;
    margin-right: auto;
    color: #8e93b7;
    display: block;
    width: 30%;
}

.content__top--input input {
    border-radius: 50px;
    width: 40%;
    height: 6vh;
    border: none;
    background-color: #f6f9ff;
    padding-left: 3%;
    color: #9ba0c0;
}

.content__top--input input:focus {
    outline: none;
}

input::placeholder {
    color: #9ba0c0;
}

/* Bottom Content Start */
.content__bottom {
    height: 65vh;
    display: flex;
    flex-direction: column;
}

.content__bottom--top {
    display: flex;
}

.content__bottom--left {
    flex: 1;
}

.content__bottom--left h2 {
    font-weight: 600;
}

.content__bottom--right {
    flex: 1;
    justify-content: flex-end;
    display: flex;
}

.content__bottom--right p a {
    text-decoration: none;
    font-weight: 600;
    color: #0f1c2a;
}

.content__bottom--right p {
    color: #9fa4aa;
}

.content__bottom--right p i {
}

.content__bottom--bot {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content__bottom--box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #f5f5f5;
    align-items: flex-start;
    align-content: center;
    height: 45vh;
    padding: 2%;
    box-shadow: 2px 10px 20px #eff0f7;
    border-radius: 15px;
    margin-bottom: 5%;
    width: 32%;
    transition: all 0.2s;
}

.content__bottom--box:hover {
    background-color: #ffffff;
    box-shadow: 2px 10px 50px #9c9c9c;
}

.box-logo {
    display: flex;
    margin-bottom: 10%;
}
.box-logo a i {
    color: #fd4d5c;
    font-size: 4rem;
}

.bt-mid a i {
    color: #6d1cff;
    font-size: 4rem;
}

.bt-last a i {
    color: #4beac5;
    font-size: 4rem;
}

.bt-mid2 a i {
    color: #205ecb;
    font-size: 4rem;
}

.bt-last2 a i {
    color: #fd5835;
    font-size: 4rem;
}

.box-tit {
    margin-bottom: 5%;
}

.box-tit h4 {
    font-weight: 600;
    font-size: 1.3rem;
}

.box-tit p {
    font-size: 0.8rem;
    color: #9fa4aa;
}

.box-members a {
    display: block;
    background-color: var(--color-primary);
    width: 150%;
    height: 5vh;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    padding-top: 7%;
    padding-right: 13%;
    font-size: 0.9rem;
}

.box-dat {
    font-size: 1rem;
    margin-bottom: 7%;
}

.box-dat {
    color: #9fa4aa;
}

.box-members p {
    color: var(--color-secondary);
}

.box-location {
    margin-bottom: 7%;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.box-location p {
    font-size: 1rem;
}
/* bottom content stopped */

/* right bar start */

.right-bar--top {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 20%;
}

.create-event {
    flex: 1;
}

.create-event a {
    display: block;
    background-color: var(--color-primary);
    width: 100%;
    height: 6vh;
    border-radius: 50px;
    text-decoration: none;
    color: #e0d6f1;
    text-align: center;
    padding-top: 7%;
    padding-right: 13%;
    font-size: 0.8rem;
}

.box-card {
    width: 45%;
    height: 9vh;
    background: url(/tugas3/img/joseph-gonzalez-iFgRcqHznqg-unsplash.jpg);
    background-size: cover;
    border-radius: 15px;
}
.right-bar--top .photo {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.right-bar--title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15%;
}

.right-bar--left {
    flex: 2;
}

.right-bar--left h2 {
    font-weight: 600;
    font-size: 1.1rem;
}

.right-bar--right {
    flex: 1;
    justify-content: flex-end;
    display: flex;
}

.right-bar--right a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #9ba0c0;
}

.user-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
}

.card-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 7%;
}

.card-list--photo {
    width: 25%;
}

.card-list--box {
    width: 90%;
    height: 8vh;
    background: url(/tugas3/img/studio_session-052-edit.jpg);
    background-size: cover;
    border-radius: 10px;
}

.card-list--box2 {
    width: 90%;
    height: 8vh;
    background: url(/tugas3/img/693-06324100en_Masterfile.jpg);
    background-size: cover;
    border-radius: 10px;
}

.card-list--box3 {
    width: 90%;
    height: 8vh;
    background: url(/tugas3/img/75f612eee242cf76e23444d80565ea2c--blue-backgrounds.jpg);
    background-size: cover;
    border-radius: 10px;
}

.card-list--box4 {
    width: 90%;
    height: 8vh;
    background: url(/tugas3/img/istockphoto-1149033371-612x612.jpg);
    background-size: cover;
    border-radius: 10px;
}

.card-list--box5 {
    width: 90%;
    height: 8vh;
    background: url(/tugas3/img/Travis-Curry-Bright-Colored-Backdrops-Savage-01.jpg);
    background-size: cover;
    border-radius: 10px;
}

.box-1 {
    color: #eb313a;
}
.box-2 {
    color: #00b6ff;
}
.box-3 {
    color: #205ecb;
}
.box-4 {
    color: #fd5835;
}
.box-5 {
    color: #5db6da;
}

.card-list--desc {
}

.name,
.log,
.time {
    margin-bottom: 2%;
}
.name p {
    font-weight: 600;
    font-size: 0.8rem;
}

.log p {
    font-weight: 400;
    font-size: 0.7rem;
    color: #9ba0c0;
}

.time p {
    font-weight: 400;
    font-size: 0.7rem;
    color: #9ba0c0;
}

.right-bar__bottom {
    display: flex;
    flex-direction: column;
}

.box-event {
    display: flex;
}

.card-event1,
.card-event2 {
    flex: 1;
}

.card-event1 {
    background-color: var(--color-primary);
    height: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 8%;
    border-radius: 15px;
}

.percent {
    margin-bottom: 30%;
    color: var(--color-secondary);
}

.percent h1 {
    font-weight: 500;
}

.card-event1 .name {
    text-align: center;
    font-size: 1.1rem;
    color: #e0d6f1;
}

.card-event2 {
    display: flex;
    background-color: #ffa62f;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.card-event2 .name {
    text-align: center;
    font-size: 1.1rem;
    color: #e0d6f1;
}

/* Meeting Page */
